/* Styling for the welcome section */
.welcome-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.welcome-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.welcome-greeting {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Container for the projects section */
.projects-content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

/* Styling for the projects section header */
.projects-content h2 {
  width: 100%;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  color: #111;
  font-weight: bold;
}

/* Styling for individual project cards */
.project.small {
  width: calc(33.33% - 20px);
  /* background-color: #e0f7fa; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  /* border-radius: 0.5rem; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.project img {
  width: 100%;
  height: auto;
  /* border-radius: 0.5rem; */
}

.project h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  text-align: center;
}

.project p {
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-align: center;
}

.project-button {
  /* background-color: #333; */
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  /* border-radius: 0.25rem; */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
  margin: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-button:hover {
  background-color: #555;
}

/* Responsive Design Adjustments */
@media (max-width: 1024px) {
  .project.small {
    width: 100%; /* One card per row on iPad and smaller screens */
  }
}

@media (max-width: 480px) {
  .project.small {
    width: 100%; /* One card per row on phones */
  }
}





/* Styling for the new welcome section */
.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  background-color: #f5f5f5;
}

.welcome-icon-container {
  background-color: #030e52; /* Bright lime color */
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.welcome-icon {
  width: 70%;
  height: 80%;
}

.welcome-text h2 {
  font-size: 3rem;
  font-weight: bold;
  font-size: 56px;
  margin-bottom: 1rem;
  font-family: 'Caudex', serif; 
}

.welcome-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-size: 40px;
  font-family: 'Caudex', serif; 
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .welcome-section {
    flex-direction: column;
    text-align: center;
  }

  .welcome-icon-container {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .welcome-text h2 {
    font-size: 2rem;
  }

  .welcome-text p {
    font-size: 1.2rem;
  }
}
