
/* Styling for the new welcome section */
.welcome-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  padding: 2rem;
 
}

.welcome-icon-container {
  background-color: #030e52; /* Bright lime color */
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2rem;
}

.welcome-icon {
  width: 70%;
  height: 80%;
}

.welcome-text h2 {
  font-size: 3rem;
  font-weight: bold;
  font-size: 56px;
  margin-bottom: 1rem;
  font-family: 'Caudex', serif; 
}


.welcome-text p {
  font-size: 1.5rem;
  line-height: 1.5;
  font-size: 40px;
  font-family: 'Caudex', serif; 
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .welcome-section {
    flex-direction: column;
    text-align: center;
  }

  .welcome-icon-container {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .welcome-text h2 {
    font-size: 2rem;
  }

  .welcome-text p {
    font-size: 1.2rem;
  }
}


